body,button,input,select,textarea{font-family:'Noto Sans CJK SC', 'Noto Sans CJK', 'Source Han Sans', source-han-sans-simplified-c, sans-serif;font-size:14px; line-height: 22px;color: black;}
html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td,fieldset{margin:0;padding:0}
ul,dl,ol,a{list-style-type:none;}
a{color: white;}
a:hover{text-decoration: none;color: white;}
.box{padding: 0px 4.714em 0 4.714em;}
.top{height: 8.57em;width: 100%;}
.box img{display: inline-block;width: 9.714em;height: 6.3em;margin-top: 1.286em;}
.txter{display: inline-block;margin-left: 4.286em;font-size: 1.643em;vertical-align: top;margin-top: 1em;line-height: 1.8em;}
.right{float: right;margin-top: 2.5em;line-height: 2.5em;}
.right>p{color: #f67477;font-size: 1.786em;padding-left: 4.857em;margin: 0;}
.right>span{color: #f45454;font-size: 1.643em;}
.nav{text-align: center;height: 6em;width: 100%;background: #06cedd;}
.nav li{float: left;font-size: 1.357em;margin: 0em 3em 0 1.143em;line-height: 4.5em;color: white;}
.nav li>img{width: 1.643em;height: 1.643em;margin: 0;}
.nav li .active{border-bottom: 0.143em solid white;padding-bottom: 0.6em;color: black;}

.sizecol{padding: 1.5em 0 1.357em 1.571em;width: 100%;height: 10em;border-radius: 10px;box-shadow: 0px 0px 1.429em 0.929em #f2f2f2;margin-top: 2.286em;}
.sizecol>p{position:relative;font-size: 1.643em;}
.sizecol>p:before{content:" ";width: 0.214em;background: #00cfdd;height: 1.3em;display: inline-block;position: absolute;top: -0.1em;left: -0.5em;}
.sizecol>div{display: inline-block;text-align: center;}
.sizecol>div>span{display: inline-block;vertical-align:top;font-size: 1.4em;margin-top: 1em;line-height: 2.5em;}/*修改*/
.szb{color:#333333 ;}
.szg{color:#2fa80a ;}
.szr{color:#f22e33 ;}
.r,.g,.b{width: 2.49em;height: 2.49em;border-radius: 50%;background-color:#f22e33;display: inline-block;margin: 3.571em 1.286em 0 2.571em;}
.g{background-color:#2fa80a;}
.b{background-color:#333333;}

.content{margin-top: 2.286em;}
.content>div{display: inline-block;}
.content .cleft{padding: 20px 30px;font-size: 1em;width: 60%;line-height: 2em;margin-right: 1%;text-align: justify;vertical-align: top;text-indent:2em;}
.content .cleft a:hover{color:red;text-decoration: underline;}
.content .cleft a{color:red;}
.cleft>div:nth-child(3){margin-top: 0.858em;}
.cleft span{color: black;}
.cleft .gd{color: #2fa80a;text-indent:0;}
.cright .red{color: #f22e33;text-indent:0;display: inline;}
.content .cright{font-size: 1.2em;width: 38.5%;border-radius: 10px;box-shadow: 0px 0px 1.429em 0.929em #f2f2f2;}
.content .cright{padding:1em 0 1em 1.5em;}
.cright>p:nth-of-type(1){font-size: 1.2em;}
.content .cright .jdt{margin-top: 1.4em;color:#ff0000;margin-bottom: 1em;}
.content .cright .jdt .bfb{line-height: 25px;height: 100%;display: inline-block;vertical-align: top;}
.cright .jdt .bk{border: 0.215em solid #ff0000;height: 1.5em;width: 15em;display: inline-block;border-radius: 0.714em;}
.cright span>p{background: #ff0000;width: 7.143em;height: 1.1em;}
.cright .text1{margin-bottom:1em;display: inline-block;vertical-align: top;line-height: 1.857em;}
.cright .text1 div{display: inline-block;    vertical-align: top;}
.cright .text1 span{display: inline-block;width: 67.5%;line-height: 1.857em;}
.cright p:nth-of-type(2),.cright p:nth-of-type(3),.cright p:nth-of-type(4),.cright p:nth-of-type(5),.cright p:nth-of-type(6),.cright p:nth-of-type(7),.cright p:nth-of-type(8),.cright p:nth-of-type(1){margin-bottom: 1em;}
.cright .xswz{width: 10em;height: 2.429em;border-radius: 20px;color: #00cfdd;text-align: center;margin-top: 2.286em;border: 1px solid #00cfdd;margin-bottom: 2em;}
.ct-text{margin-bottom: 2em;}
.ct-text:after{content: "";display: inline-block;border-bottom: 1px solid dimgray;width: 95%;}
.cright .ct-text:last-child:after{border-bottom: 0 none;}
.cright .xswz a{line-height:2.3em;border-radius: 20px;display:inline-block;width: 100%;height: 100%;color: #00cfdd;text-align: center;}
.cright .xswz a:hover{background: #00cfdd;color: white;text-align: center;cursor: pointer;border: 0;}

.bot{position: relative;bottom: 0;width: 100%;height:4em;background: #06cedd;color: white;margin-top:5.143em ;font-size:  1.357em;text-align: center;line-height: 4.5em;}

@media screen and (max-width:1700px){
	body{font-size: 12px;}

}
@media screen and (max-width:1500px){
	body{font-size: 11px;}
	.txter{margin-top: 1.5em;}

}
@media screen and (max-width:1400px){
	.nav li{line-height: 5em;}
}
@media screen and (max-width:1300px){
	.nav li{line-height: 5em;}
	body{font-size: 10px;}
	.r, .g, .b{margin: 3.571em 1.586em 0 2.571em;}
	/*.content .cright{width: 35%;}
	.cright .jdt .bk{width: 18em;}*/
}
@media screen and (max-width:1200px){
	.txter{margin-top: 2em;}
	body{font-size: 10px;}
	.r, .g, .b{margin: 3.571em 2.286em 0 2.671em;}
	.nav li{line-height: 5.4em;}
	/*.cright .jdt .bk{width: 19em;}*/
	.txter{margin-left: 1.5em;}
}
@media screen and (max-width:1100px){
	body{font-size: 10px;}
	.r, .g, .b{margin: 3.571em 1.586em 0 1.5em;}
	/*.cright .jdt .bk{width: 16.143em;}*/
	.content .cleft{width: 59%;}
	.cright .text1 span{width: 64%;}
}
@media screen and (max-width:992px){
	body{font-size: 9px;}
	.nav li{line-height: 6em;}
}