body,button,input,select,textarea{font-family:'Noto Sans CJK SC', 'Noto Sans CJK', 'Source Han Sans', source-han-sans-simplified-c, sans-serif;font-size:14px; line-height: 22px;color: black;}
html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td,fieldset{margin:0;padding:0}
ul,dl,ol,a{list-style-type:none;}
a{color: white;}
h4{font-size: 1.4rem;}
a:hover{text-decoration: none;color: white;}
.box{padding: 0px 4.714em 0 4.714em;}
.top{height: 8.57em;width: 100%;}
.box img{display: inline-block;width: 9.714em;height: 6.3em;margin-top: 1.286em;}
.txter{display: inline-block;margin-left: 4.286em;font-size: 1.643em;vertical-align: top;margin-top: 1em;line-height: 1.8em;}
.right{float: right;margin-top: 2.5em;line-height: 2.5em;}
.right>p{color: #f67477;font-size: 1.786em;padding-left: 4.857em;margin: 0;}
.right>span{color: #f45454;font-size: 1.643em;}
.nav{text-align: center;height: 6em;width: 100%;background: #06cedd;}
.nav li{float: left;font-size: 1.357em;margin: 0em 3em 0 1.143em;line-height: 4.5em;color: white;}
.nav li>img{width: 1.643em;height: 1.643em;margin: 0;}
.nav li .active{border-bottom: 0.143em solid white;padding-bottom: 0.6em;color: black;}

.contbox{position:relative;width: 100%;border-radius: 10px;box-shadow: 0px 0px 1.429em 0.929em #f2f2f2;margin-top: 2.286em;padding: 0.714em 1.429em 1.571em 3.571em;}
.contbox>div{display: inline-block;vertical-align: top;}
.contbox>div:nth-of-type(1) p{padding-top: 1.2em;text-align: center;font-size: 1.6em;}
.contbox>div:nth-of-type(2){width: 60%;margin-left: 2.286em;}
.contbox>div:nth-of-type(2) h4{padding-top: 0.714em;line-height: 2em;}
.contbox img{width: 13.857em;height: 4em;}
.contbox p{font-size: 1.5em;line-height: 1.929em;}
.po{position: absolute;right: 1.429em;bottom: 1.571em;}
.po>span:nth-of-type(1){color: #ff4200;font-size: 1.286em;}
.contbox a{color: #00cfdd;}

.po>span:nth-of-type(2) a{font-size: 1.286em;display: inline-block;line-height: 1.9em;margin-left:1.429em;width: 95px;height: 2.143em;border-radius: 0.857em;color: #06cedd;text-align: center;border: 1px solid #00cfdd;}
.po>span:nth-of-type(2) a:hover{background: #00cfdd;color: white;text-align: center;cursor: pointer;}
.bot{position: relative;bottom: 0;width: 100%;height:4em;background: #06cedd;color: white;margin-top:5.143em ;font-size:  1.357em;text-align: center;line-height: 4.5em;}

@media screen and (max-width:1700px){
	body{font-size: 12px;}

}
@media screen and (max-width:1500px){
	.txter{margin-top: 1.5em;}
	body{font-size: 11px;}
	.contbox{height: 16.929em;}
}
@media screen and (max-width:1400px){
	.nav li{line-height: 5em;}
}
@media screen and (max-width:1200px){
	.txter{margin-top: 2em;}
	body{font-size: 10px;}
	.contbox{height: 16.929em;}
	.nav li{line-height: 5.4em;}
	.txter{margin-left: 1.5em;}
}
@media screen and (max-width:992px){
	body{font-size: 9px;}
	.contbox{height: 17.929em;}
	.nav li{line-height: 6em;}
}