body,button,input,select,textarea{font-family:'Noto Sans CJK SC', 'Noto Sans CJK', 'Source Han Sans', source-han-sans-simplified-c, sans-serif;font-size:14px; line-height: 22px;color: black;}

html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td,fieldset{
	margin:0;
	padding:0}

ul,dl,ol,a{
	list-style-type:none;}

a{
	color: white;}

a:hover{
	text-decoration: none;
	color: white;}

.box{
	padding: 0px 4.714em 0 4.714em;}

.top{
	height: 8.57em;
	width: 100%;}

.box img{
	display: inline-block;
	width: 9.714em;
	height: 6.3em;
	margin-top: 1.286em;}

.txter{
	display: inline-block;
	margin-left: 4.286em;
	font-size: 1.643em;
	vertical-align: top;
	margin-top: 1em;
	line-height: 1.8em;}

.right{
	float: right;
	margin-top: 2.5em;
	line-height: 2.5em;}

.right>p{
	color: #f67477;
	font-size: 1.786em;
	padding-left: 4.857em;
	margin: 0;}

.right>span{
	color: #f45454;
	font-size: 1.643em;}

.nav{
	text-align: center;
	height: 6em;
	width: 100%;
	background: #06cedd;}
.nav li{
	float: left;
	font-size: 1.357em;
	margin: 0em 3em 0 1.143em;
	line-height: 4.5em;
	color: white;}
.nav li .active{
	border-bottom: 0.143em solid white;
	padding-bottom: 0.6em;
	color: black;}
.nav li>img{
	width: 1.643em;
	height: 1.643em;
	margin: 0;}

.conter>div{
	padding: 2.5em 1em 1em 3.029em;
	line-height: 3.214em;
	vertical-align: top;
	margin-top: 2.286em;
	display: inline-block;
	height: 24.643em;
	box-shadow: 0px 0px 1.429em 0.929em #f2f2f2;
	border-radius: 10px;
	border: 1px solid #f2f2f2;}
.xunxi,.xsb{
	margin-right: 1.5%;}
/*.xunxi,.xsb,.pd{position: relative;}*/

.conter>div>h5{
	line-height: 2.143em;
	position: relative;}

.conter>div>h5:before{ 
	content:" ";
	width: 3px;
	background: #00cfdd;
	height: 1.3em;
	display: inline-block;
	position: absolute;
	top: 0.5em;
	left: -0.6em;}

.conter>div h6{
	line-height: 2.143em;}

.jc{
	box-shadow: 0px 0px 1.429em 0.929em #f2f2f2;
	border-radius: 10px;
	margin-top: 2.286em;
	padding: 2.286em 1.429em 2.286em 2.857em;
	width: 100%;}

.jc>h2{
	position: relative;
	font-size: 1.44em;
	margin-bottom: 0.714em;
	padding-top: 0.357em;
	box-sizing: border-box;}

.jc>h2:before{ 
	content:" ";
	width: 3px;
	background: #00cfdd;
	height: 1.3em;
	display: inline-block;
	position: absolute;
	top: 0.3em;
	left: -0.7em;}

.jc span{
	font-size: 1.286em;
	color: gray;
	margin:1.571em 3.956em 0 0px;
	line-height: 2.714em;}

.bingtu1,.bingtu2{
	text-align: center;
	/*padding: 3em 0;*/
	border-radius: 10px;
	display: inline-block;
	margin-top: 2.286em;
	box-shadow: 0px 0px 1.429em 0.929em #f2f2f2;}

.bingtu1{
	margin-right: 2%;}

.tu{
	display: inline-block;
	width: 34.429em;
	height: 21.429em;}

.tu>img{
	margin:1.714em 0 0 10.714em;
	width: 17.857em;
	height: 17.857em;}

.fk{
	display: inline-block;
	width: 2.286em;
	height: 2.286em;
	background: #e83636;
	margin-top: 0.929em;}

.cont{
	margin-top: 1.286em;
	vertical-align: top;
	display: inline-block;}

.cont span:nth-child(2){
	vertical-align: top;
	font-size: 1.286em;
	margin-left: 0.5em;
	line-height: 4em;}

.fk1{
	display: inline-block;
	width: 2.286em;
	height: 2.286em;
	background: #8bc34a;
	margin-top: 0.929em;}

.fk2{
	display: inline-block;
	width: 2.286em;
	height: 2.286em;
	background: #ff9800;
	margin-top: 0.929em;}

.fk3{
	display: inline-block;
	width: 2.286em;
	height: 2.286em;
	background: #1a9cfe;
	margin-top: 0.929em;}

.biao1{
	padding: 1.5em 2.286em 2em 2.286em;
	box-shadow: 0px 0px 1.429em 0.929em #f2f2f2;
	margin-right: 1.7%;
	vertical-align: top;
	border-radius: 10px;
	display: inline-block;
	height: 32.429em;
	width: 48.8%;
	margin-top: 2.286em;}

.biao1 b{
	height: 100%;
	display: inline-block;
	vertical-align: middle;}

.biao2{
	padding: 3em 2.286em 4em 3.286em;
	box-shadow: 0px 0px 1.429em 0.929em #f2f2f2;
	vertical-align: top;
	border-radius: 10px;
	display: inline-block;
	height: 32.429em;
	width: 48.8%;
	margin-top: 2.286em;}

.box .tub{
	width: 100%;
	height: auto;
	margin:auto;}

.biao2 p{
	font-size: 1.214em;
	line-height: 1.858em;}

.biao2 h2{
	font-size: 1.714em;
	margin-bottom: 0.714em;}

.bot{
	position: relative;
	bottom: 0;
	width: 100%;
	height:4em;
	background: #06cedd;
	color: white;
	margin-top:5.143em ;
	font-size:  1.357em;
	text-align: center;
	line-height: 4.5em;}
	#canvas-3 svg{margin-top: 50px;}

@media screen and (max-width:1700px){
	body{font-size: 12px;}
	.box .tub {padding-top: 1em;}
}
@media screen and (max-width:1500px){
	body{font-size: 11px;}
	.tu{width: 28.429em;}
	.tu>img{margin:1.714em 0 0 5.714em;}
	.box .tub {padding-top: 3em;}
	.txter{margin-top: 1.5em;}
	.conter>div{padding: 1.3em 1em 1em 3.029em;}

}
@media screen and (max-width:1400px){
	.nav li{line-height: 5em;}
}
@media screen and (max-width:1300px){
	body{font-size: 11px;}
	.tu{width: 26.429em;}
	.tu>img{margin:1.714em 0 0 5.714em;}
	.box .tub {padding-top: 4em;}
	.conter>div{padding:0.4em 1em 1em 3.029em;}

}

@media screen and (max-width:1200px){
	body{font-size: 10px;}
	/*.bingtu1,.bingtu2{height: 21.429em;}*/
	.tu{width: 22.429em;}
	.tu>img{margin:1.714em 0 0 1.714em;}
	.box .tub {padding-top: 6em;}
	.cont{margin-top: 2.286em;}
	.txter{margin-top: 2em;margin-left: 1.5em;}
	.nav li{line-height: 5.4em;}
	/*#canvas svg,#canvas-1 svg{left: -30px;}*/
}

@media screen and (max-width:1100px){
	.tu{width: 18.429em;}
	.tu>img{margin:1.714em 0 0 1.714em;width: 15.857em;height: 15.857em;}
	.box .tub {padding-top: 8em;}
}
@media screen and (max-width:992px){
	body{font-size: 9px;}
	/*.biao1,.biao2{height:36.429em ;}*/
	.box .tub {padding-top: 1em;}
	.tu{width: 33.429em;}
	.tu>img{margin:1.714em 0 0 6.714em;}
	.biao2 p{font-size: 1.614em;line-height: 2.2em;}
	.biao2 h2{font-size: 1.814em;}
	.nav li{line-height: 6em;}
}