
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>论文降重-学术家免费论文查重检测</title>
    <meta name="keywords" content="免费论文查重,论文检测系统,论文检测入口,论文检测,论文查重系统,论文查重软件,论文查重入口,查重软件,查重入口,查重,毕业论文查重,论文查重">
    <meta name="description"
          content="免费论文查重认准学术家，专为高校论文检测、毕业论文查重、硕士论文查重诞生的论文检测入口平台，本套免费论文查重系统涵盖海量的数据库，为毕业生解决各种烦恼，论文查重软件免费为各种有论文检测、论文查重需求的人提供，论文查重认准学术家！"/>
    <link rel="stylesheet" href="http://www.xueshujia.com/portal/css/iconfont.css"/>
    <link rel="stylesheet" href="http://www.xueshujia.com/portal/css/slick.css">
    <link rel="stylesheet" href="http://www.xueshujia.com/portal/css/page.min.css">
    <script src="http://www.xueshujia.com/plugin/jquery/jquery-1.9.1.min.js"></script>
    <script src="http://www.xueshujia.com/plugin/jquery/jquery.form.js"></script>
    <script src="http://www.xueshujia.com/plugin/jquery/jquery.cookie.js"></script>
    <script src="http://www.xueshujia.com/portal/js/iconfont.js"></script>
    <script src="http://www.xueshujia.com/portal/js/slick.min.js"></script>
    <script src="http://www.xueshujia.com/portal/js/jqthumb.min.js"></script>
    <script src="http://www.xueshujia.com/portal/js/jquery.validate.js"></script>
    <script src="http://www.xueshujia.com/portal/js/no.scroll.js"></script>
    <script src="http://www.xueshujia.com/portal/js/main.js"></script>
    <style>
        .reduce-list-item{
            cursor:pointer;
        }
    </style>
</head>
<body>
<section class="loading">
    <img src="http://www.xueshujia.com/portal/image/loading.gif" alt="loading..." />
</section>
<!-- header -->
<header class="header-fixed">
    <style>
        #redCircle {
            position: absolute;
            border-radius: 50%;
            width: 18px;
            height: 18px;
            padding-top: 1px;
            vertical-align: middle;
            font-size: 8px;
            text-align: center;
            background-color: red;
            right: -3px;
            bottom: 0;
            z-index: 10;
            color: white;
        }
    </style>

    <!--th:class="${nav == 'index' || nav == 'query'?'':'header-fixed'}"-->
    <script src="http://www.xueshujia.com/plugin/layer-v3.1.1/layer.js"></script>
    <script src="https://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?594505a72a583c309a1196308264fb3e";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();

        $(function () {
            queryAccount();
            query_msg();
            setInterval("query_msg()", 5000);
        });

        function query_msg() {
            $.post("/member/getUnread", function (count) {
                if (count === 0) {
                    $("#redCircle").html('');
                    $("#redCircle").hide();
                    $("#notificationCount").html('');
                } else {
                    $("#redCircle").html(count);
                    $("#redCircle").show();
                    $("#notificationCount").html(count);
                }
            });
        }

        function loginOut() {
            layer.confirm("确定要注销退出吗？", {
                btn: ["确定", "取消"],
                icon: 3
            }, function () {
                $.post('/manage/logout', function (data) {
                    if (data.success) {
                        if (data.data.url) {
                            window.location.href = data.data.url;
                        } else {
                            window.location.href = '/';
                        }
                    } else {
                        window.location.href = '/';
                    }
                });
            }, function (index) {
                layer.close(index);
            });
        }

        function queryAccount() {
            $.post('/member/queryAccount', {}, function (result) {
                if (result.data.account) {
                    $("#blcWordCount").text(result.data.account.blcWordCount + result.data.account.blcFreeCount);
                } else {
                    $("#blcWordCount").text('0');
                }
            }, 'json');
            $.post('/organization/queryAccount', {}, function (result) {
                if (result.data.account) {
                    $("#blcCheckCount").text(result.data.account.blcCheckCount);
                } else {
                    if (result.code == -2) {
                        location.href = "/login.html"
                    }
                    $("#blcCheckCount").text('0');
                }
            }, 'json');
        }
    </script>

    <div class="header clearfix">
        <div class="logo-box">
            <a href="http://www.xueshujia.com/index">
                <img src="http://www.xueshujia.com/portal/image/logo.png" alt="logo"/>
                <img src="http://www.xueshujia.com/portal/image/logo-active.png" alt="logo"/>
            </a>
        </div>
        <div class="nav-box">
            <nav class="nav">
                <ul class="nav-list clearfix">
                    <li>
                        <a href="http://www.xueshujia.com/index">首页</a>
                    </li>
                    <li>
                        <!--                        <a th:if="${session.member == null}" href="http://www.xueshujia.com/login">论文检测</a>-->
                        <!--                        <a th:unless="${session.member == null}" href="http://www.xueshujia.com/member/index">论文检测</a>-->
                        <a href="http://www.xueshujia.com/member/index">论文检测</a>
                    </li>
                    <li class="active">
                        <a href="http://www.xueshujia.com/reduce">论文降重</a>
                    </li>
                    <li>
                        <a href="http://www.xueshujia.com/answer">专业问答</a>
                    </li>
                    <li>
                        <a href="http://www.xueshujia.com/sleight">写作技巧</a>
                    </li>
                    <li>
                        <a href="http://www.xueshujia.com/query">真伪查询</a>
                    </li>
                    <li>
                        <a href="http://www.xueshujia.com/appraise">用户评价</a>
                    </li>
                </ul>
            </nav>
            <div class="login-box">
                <div class="login-before">
                    <ul class="login-btn-list clearfix">
                        <li class="login-btn active">
                            <a href="javascript:;">登录</a>
                        </li>
                        <li class="register-btn">
                            <a href="http://www.xueshujia.com/register">注册</a>
                        </li>
                    </ul>
                    <div class="login-popup">
                        <div class="bg"></div>
                        <div class="login-cot" style="width:394px">
                            <div class="ewm-box" style="width: 420px;height: 384px;padding-left: 46px;">
                                <div class="title"></div>
                                <div class="ewm" style="height: 300px;">
                                    <div id="qrcode_head"></div>
                                    <script type="text/javascript">
                                        var obj = new WxLogin({
                                            id: "qrcode_head",
                                            appid: "wx9fc30fd0fbe69971",
                                            scope: "snsapi_login",
                                            redirect_uri: "http%3A%2F%2Fwww.xueshujia.com%2Fwx%2Flogin",
                                            state: $.cookie("agentid"),
                                            style: "white"
                                        });
                                    </script>
                                </div>
                                <p class="tip">请使用微信扫描二维码登录</p>
                            </div>
                            <div class="btn-group">
                                <ul class="btn-list clearfix">
                                    <li>
                                        <a href="http://www.xueshujia.com/login.html">账号登录</a>
                                    </li>
                                    <li>
                                        <a href="http://www.xueshujia.com/register">立即注册</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</header>
<!-- header end -->
<!-- page-banner -->
<section class="page-banner">
    <div class="jqthumb">
        <img src="http://www.xueshujia.com/portal/image/page-banner.jpg" alt="page-banner" />
        <div class="text-box">
            <h1 class="title">论文降重</h1>
            <p class="text">行业经验深厚，专注论文服务深耕多年拥有200多人资深编辑团队</p>
        </div>
    </div>
</section>
<!-- page-banner end -->
<!-- reduce -->
<section class="reduce">
    <div class="reduce-list-box">
        <ul class="reduce-list clearfix">
            <li class="reduce-list-item" onclick="customer()">
                <div class="icon">
                    <i class="iconfont icon-lunwen"></i>
                </div>
                <div class="text-box" >
                    <h6 class="title">论文润色</h6>
                    <div class="division"></div>
                    <p class="text">涵盖1200+学科领域，全方位检查，文章结构，内容术语，参考文献等</p>
                </div>
            </li>
            <li class="reduce-list-item" onclick="customer()">
                <div class="icon">
                    <i class="iconfont icon-icon_rengonghecha-"></i>
                </div>
                <div class="text-box">
                    <h6 class="title">人工降重</h6>
                    <div class="division"></div>
                    <p class="text">行业经验深厚，专注论文服务深耕多年拥有200多人资深编辑团队</p>
                </div>
            </li>
            <li class="reduce-list-item" onclick="customer()">
                <div class="icon">
                    <i class="iconfont icon-paiban"></i>
                </div>
                <div class="text-box">
                    <h6 class="title">格式排版</h6>
                    <div class="division"></div>
                    <p class="text">通过对海量论文的格式训练，机器自动对论文格式根据标准一键格式化</p>
                </div>
            </li>
            <li class="reduce-list-item" onclick="customer()">
                <div class="icon">
                    <i class="iconfont icon-ppt"></i>
                </div>
                <div class="text-box">
                    <h6 class="title">答辩PPT4</h6>
                    <div class="division"></div>
                    <p class="text">毕业答辩、简历ppt、计划总结等ppt制作，资深设计师为你量身制作。</p>
                </div>
            </li>
            <li class="reduce-list-item">
                <div class="icon">
                    <i class="iconfont icon-gengduo"></i>
                </div>
                <div class="text-box">
                    <h6 class="title">更多服务</h6>
                    <div class="division"></div>
                    <p class="text">更多服务敬请期待！</p>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- reduce end -->
<!-- footer -->
<footer>
    <div class="footer">
        <div class="footer-nav">
            <ul class="footer-nav-list clearfix">
                <li>
                    <a href="http://www.xueshujia.com/index">首页</a>
                </li>
                <li>
                    <a href="http://www.xueshujia.com/member/index">查重</a>
                </li>
                <li>
                    <a href="http://www.xueshujia.com/reduce">降重</a>
                </li>
                <li>
                    <a href="http://www.xueshujia.com/answer">问答</a>
                </li>
                <li>
                    <a href="http://www.xueshujia.com/sleight">资讯</a>
                </li>
                <li>
                    <a href="http://www.xueshujia.com/query">真伪查询</a>
                </li>
                <li>
                    <a href="http://www.xueshujia.com/protocol?type=1010001">用户协议</a>
                </li>
                <li>
                    <a href="http://www.xueshujia.com/protocol?type=1010002">免责声明</a>
                </li>
                <li>
                    <a href="http://www.xueshujia.com/protocol?type=1010003">知识产权</a>
                </li>
                <li>
                    <a href="http://www.xueshujia.com/protocol?type=1010004">个人隐私</a>
                </li>
                <li>
                    <a href="http://www.xueshujia.com/protocol?type=1010005">侵权处理</a>
                </li>
            </ul>
        </div>
        <!--  <div class="footer-btn">
              <ul class="btn-list clearfix">
                  <li>
                      <a href="#">
                          <i class="iconfont icon-QQ"></i>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <i class="iconfont icon-xiaoxixinxiduanxintixingyoujiantongzhisixin"></i>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <i class="iconfont icon-erweima"></i>
                      </a>
                      <div class="ewm">
                          <img src="http://www.xueshujia.com/portal/image/ewm.jpg" alt="二维码"/>
                      </div>
                  </li>
              </ul>
          </div>-->
        <div class="footer-logo">
            <a href="http://www.xueshujia.com/index">
                <img src="http://www.xueshujia.com/portal/image/footer-logo.png" alt="logo"/>
            </a>
        </div>
        <!-- <div>
             <b>友情链接：</b>
             <tr th:each="ite:${friendLink}">
                 <a target="_blank" th:href="${ite.href}" th:text="${ite.title}"></a>

             </tr>
             <h1>欢迎各优秀网站与我们交换链接，<span class="red">QQ:275627236</span></h1>
         </div>-->
    </div>
    <div class="copyright">
<!--        <span th:if="${show}">Copyright © 2016 杭州千明信息科技有限公司 Co. Ltd. all rights reserved.<a-->
<!--                href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action " target="_blank">浙ICP备18051515号-1</a> 地址：浙江省杭州经济技术开发区万亚名城3幢1213室 电话：0571-87216605</span>-->
<!--        <span th:unless="${show}">版权所有©学术家</span>-->
        <span >Copyright © 2016-2019 www.xueshujia.com 浙ICP备18053448号 杭州千明信息科技有限公司</span>
    </div>
</footer>
<script>
    (function () {
        var _53code = document.createElement("script");
        _53code.src = "https://tb.53kf.com/code/code/10171605/8";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(_53code, s);
    })();
    function customer () {
        window.open("https://tb.53kf.com/code/client/10171605/8");
    }
</script>
<!-- footer end -->
</body>
</html>